/* ========== topbar ========== */
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: var(--colorTopbar);
  backdrop-filter: blur(10px);
  z-index: 150;
}

.topbar__layer {
  position: fixed;
  background-color: var(--colorPrimary);
  left: 0;
  right: 0;
  height: 5rem;
  z-index: 50;
  opacity: 0.8;
}

.topbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0rem;
  box-sizing: border-box;
  max-width: 100rem;
  margin: auto;
}

/* ========== logo ========== */
.topbar__logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding-left: 0.8rem;
}

.topbar__logo-img {
  width: 2.2rem;
  height: 2.2rem;
  color: var(--colorText90);
  -webkit-animation: gelatine 2s infinite;
  animation: gelatine 2s infinite;
}

.topbar__logo-txt {
  font-size: 2rem;
  z-index: 200;
  font-weight: 800;
  margin-left: 0.2rem;
  color: var(--colorText90);
}

/* logo animation */
@-webkit-keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(1, 1.05);
  }
}
@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(1, 1.05);
  }
}

/* ========== topbar right ========== */
.topbar__right {
  display: flex;
  z-index: 500;
}

/* ========== social icons ==========  */
.topbar__social-container {
  z-index: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-right: 1.6rem;
}

.topbar__right .topbar__social-icon {
  font-size: 2rem;
  color: var(--colorText90);
  transition: color 0.5s;
}

.topbar__right .topbar__social-icon:hover {
  color: var(--colorSecondary90);
}

/* ========== theme ========== */
.topbar__theme {
  display: none;
  margin-right: 1.6rem;
}

/* ========== menu ========== */
.topbar__menu {
  display: none;
  position: relative;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 1rem;
  border-style: none;
  background-color: rgba(148, 148, 148, 0.308);
  font-size: 1.8rem;
  color: var(--colorText90);
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.35s;
  box-shadow: var(--btnBoxShadow);
  margin-right: 1.6rem;
}

/*  MENU LINE ANIMATION */
@-webkit-keyframes lineAnim {
  0% {
    transform-origin: right 50%;
  }
  0.2% {
    transform: scaleX(0.8);
  }
}
@keyframes lineAnim {
  0% {
    transform-origin: right 50%;
  }
  0.2% {
    transform: scaleX(0.8);
  }
} 

/* ======== for responsiveness ======== */
@media (max-width: 820px) {
  .topbar__layer {
    display: none;
  }

  .topbar__container {
    padding: 2rem 0rem;
    width: 49rem;
  }
  .topbar__social-container {
    display: none;
  }

  .topbar__theme {
    display: flex;
  }

  .topbar__menu {
    display: flex;
  }
}

@media (max-width: 600px) {
  .topbar__container {
    width: 45rem;
  }
}

@media (max-width: 500px) {
  .topbar__container {
    width: 40rem;
    padding: 1rem 0rem;
  }
}

@media (max-width: 400px) {
  .topbar__container {
    width: 35rem;
  }
}

@media (max-width: 300px) {
  .topbar__container {
    width: 30rem;
  }
}
